@import '../scss/libs/variables';
@import '../scss/libs/normalize';

.wrapper {
	margin-top: 20px;
}

.container {  
	max-width: 1310px;
	padding: 0 15px;
	margin: 0 auto;
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "main main right"
    "main main right";
}

.header {
	padding: $box-padding;
	background-color: rgba(48, 165, 255, 0.471);
	border-radius: 15px;
	box-shadow: $box-shadow; 
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header__top header__top header__top"
    "header__top header__top header__top"
    "header__menu header__menu header__menu";
  grid-area: header;
}

.header__top { grid-area: header__top; }

.header__menu { grid-area: header__menu; }

.main {
	padding: $box-padding;
	background-color: rgba(48, 165, 255, 0.856);
	border-radius: 15px;
	box-shadow: $box-shadow;
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "main__top main__top main__top"
    "main__content main__content main__content"
    "main__content main__content main__content";
  grid-area: main;

	&__top {
		grid-area: main__top;
	}

	&__content {
		grid-area: main__content;
	}
}

.right {
	padding: $box-padding;
	background-color: rgba(48, 165, 255, 0.856);
	border-radius: 15px;
	box-shadow: $box-shadow;
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "right__title right__title right__title"
    "right__content right__content right__content"
    "right__content right__content right__content";
  grid-area: right;
}

.right__title { 
	grid-area: right__title; 
}

.right__content {
	grid-area: right__content; 
}

