@import '../scss/libs/variables';
@import '../scss/libs/normalize';

.wrapper {
	display: flex;
	margin: 20px 0;
	z-index: 0;
}

.container {  
	max-width: 1310px;
	padding: 0 15px;
	margin: 0 auto;
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px 15px;
  grid-auto-flow: row;
	align-items: stretch;
  grid-template-areas:
    "header header header"
    "main main right"
    "main main right";
}
